.panelNavbar {
    align-items: center;
    background-color: #004D40;
    border-bottom: 1px solid #e5e5e5;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 50px;
    left: 0;
    padding: 0 20px;
    position: fixed;
    top: 0;
    transition: 0.6s;
    width: 100%;
    z-index: 1;
    color: #fff;

    h1{
        font-size: 18px;

        &:hover{
            color: #fff;
        }
    }
}

.navItems {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.back_to_home {
    position: relative;

    &:before {
        content: '';
        position: absolute;
        bottom: -5px;
        left: 0;
        height: 2px;
        width: 0%;
        background: #FFFAFA;
        transition: all 0.3s ease;
    }

    &:hover:before {
        width:100%;
    }

    &:hover{
        color: #FFFAFA;
    }
}

.navButtons {
    box-shadow: 0 3px 2px 2px rgba(0, 0, 0, 0.3);
    display: flex;
    width: 65%;

    a {
        align-items: center;
        background-color: #FFB74D;
        border: none;
        cursor: pointer;
        display: flex;
        justify-content: center;
        outline: 1px solid rgba(0, 0, 0, 0.05);
        padding: 2px 5px;
        width: inherit;
        transition: all .2s;

        &:hover {
            background-color: #FFE0B2;
            color: #FFFAFA;
            transform: translateY(-3px);
        }
    }
}

.admin {
    display: flex;
    justify-content: space-between;
    width: 20%;
}

.logoutBtn {
    &:hover {
        cursor: pointer;
        transform: translateX(5px);
    }
}
