.productTable {
  width: 100%;

  td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
  }

  thead tr {
    background-color: #004D40;
    color: #FFFAFA;
    th {
      text-align: center;
    }
  }

  tbody tr {
    height: 70px;
  }

  .image {
    width: 50px;
    height: 50px;
  }

  .category {
    label {
      margin-left: 10px;
    }
  }

  th:nth-child(1), td:nth-child(1) {
    width: 20%;
  }

  th:nth-child(2), td:nth-child(2) {
    width: 35%;
  }

  th:nth-child(3), td:nth-child(3){
    width: 35%;
  }

  th:nth-child(4), td:nth-child(4) {
    width: 10%;
  }

  .actions {
    text-align: center;

    button {
      all: unset;
      color: #FFFAFA;
      cursor: pointer;
      width: 50px;
    }

    button:nth-child(1) {
      background-color: #FFB74D;
      border-radius: 3px;
      margin-left: 10px;
    }

    button:nth-child(2) {
      background-color: #EF5350;
      border-radius: 3px;
    }
  }
}