@font-face {
  font-family: 'Vazirmatn-FD-Regular';
  src: url('../fonts/vazir/Vazirmatn-FD-Regular.woff2') format('woff2');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Vazirmatn-FD-Regular';
  font-size: 12px;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #fff;
}

a {
  text-decoration: none;
  color: #fff;
  &:hover {
    color: #fff;
  }
}