.checkout_wrapper{
  padding: 51px 20px;
}

.checkout_form {
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  height: 70vh;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.row {
  display: flex;
  width: 100%;
}

.error {
  display: flex;
  flex-direction: column;
}

.errorText {
  color: red;
  font-size: 1.2rem;
  border: 1px solid red;
}

.datePicker {
  margin-right: 25px;
}

.date {
  width: 549px;
  margin: 10px 0;
  height: 48px;
  border: 1px solid lightgrey;
  border-radius: 5px;
}

.submit {
  width: 540px;
  margin: 5rem auto !important;
  height: 50px;
  background-color: #004D40 !important;
  font-size: 1.5rem !important;

  &:hover {
    background-color: #00796B !important;
  }
}