.ordersTable {
  border-collapse: collapse;
  width: 100%;

  td, th {
    border: 1px solid #dddddd;
    text-align: right;
    padding: 8px;
  }

  thead tr {
    background-color: #004D40;
    color: #FFFAFA;
    th {
      text-align: center;
    }
  }

  th:nth-child(1), td:nth-child(1) {
    width: 20%;
  }

  th:nth-child(2), td:nth-child(2) {
    text-align: center;
    width: 30%;
  }

  th:nth-child(3), td:nth-child(3){
    text-align: center;
    width: 30%;
  }

  th:nth-child(4), td:nth-child(4) {
    width: 20%;
  }

  td:nth-child(4) {
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;

    button {
      all: unset;
      color: #FFFAFA;
      cursor: pointer;
      width: 100px;
    }

    button:nth-child(1) {
      background-color: #FFB74D;
      border-radius: 3px;
      margin-right: 10px;
    }
  }
}