.wrapper {
  padding: 51px 20px;
}

.main_header {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;

  h3 {
    font-size: 1.5rem;
    font-weight: bold;
  }

  &__orders_tab {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    width: 35rem;
  }
}

.ordersTable {
  border-collapse: collapse;
  width: 100%;

  td, th {
    border: 1px solid #dddddd;
    text-align: right;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #E0F7FA;
  }

  tr:nth-child(1) {
    background-color: #B2EBF2;
    th {
      text-align: center;
    }
  }

  th:nth-child(1), td:nth-child(1) {
    width: 20%;
  }

  th:nth-child(2), td:nth-child(2) {
    text-align: center;
    width: 30%;
  }

  th:nth-child(3), td:nth-child(3){
    text-align: center;
    width: 30%;
  }

  th:nth-child(4), td:nth-child(4) {
    width: 20%;
  }

  td:nth-child(4) {
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;

    button {
      all: unset;
      color: #FFFAFA;
      cursor: pointer;
      width: 100px;
    }

    button:nth-child(1) {
      background-color: #FFB74D;
      border-radius: 3px;
      margin-right: 10px;
    }
  }
}
