.wrapper {
  padding: 51px 20px;
}

.main_header {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;

  h3 {
    font-size: 1.5rem;
    font-weight: bold;
  }

  &__orders_tab {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    width: 35rem;
  }
}
