.wrapper {
  padding: 70px 20px;
}

.category_link {
  color: #fff;
  font-size: 16px;
  text-align: center;
  background-color: #004D40;
  border-radius: 5px;
  width: 90%;
  margin: 10px auto;
}

.products {
  margin: 10px auto !important;
  width: 90% !important;
}

.products_box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}